sudo: false
language: python
python:
- '3.4'

script:
- pip install -r requirements.txt
- travis-sphinx build -n -s source

after_success:
- travis-sphinx deploy -b master
deploy:
  provider: releases
  api_key: $GH_TOKEN

  skip_cleanup: true
  on:
    repo: NicholasSynovic/Free-CS-Education